.services {
  min-height: 120vh;
  // display: flex;

  justify-content: space-between;
  padding: 5rem 2rem;
  color: white;
  background-color: #343a40;
  h2 {
    padding-bottom: 5rem;
  }
  p {
    width: 70%;
    padding: 2rem 0rem 4rem 0rem;
  }
  .hide {
    overflow: hidden;
  }
}
.description {
  float: left;
  width:50%;
  height:80vh;
  padding-top:10vh;
  flex: 1;
  padding-right: 2rem;
  h2 {
    font-weight: lighter;
  }
}
.cards {
    // margin-top: 140px;
  display: flex;
  flex-wrap: wrap;
  
  gap: 1em;
  @media (max-width: 1500px) {
    justify-content: center;
  }
  .card {
    flex: 50%;
    vertical-align: center;
    border: 1px solid #23d997;
    background-color: #1b1b1b;
    box-shadow: 5px 5px 9px #23d997;
    flex-basis: 15rem;
    width: 100%;
    height: 10em;
    object-fit: cover;
    overflow: hidden;
    h3{
        text-align: center;
    }
  }

  .icon {
    display: flex;

    justify-content: center;
  }
  img {
    margin-top: 1px;
    width: fit-content;
    height: 40px;
    object-fit: cover;
  }
}
.image {
  float: right;
  width: 50%;
  padding-top: 10rem;
  height: 100vh;
  img {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    // object-fit: cover;
  }
}
